/*current colors
    #114b5f midnight green
    #028090 metallic seaweed
    #e4fde1 nyanza (white)
    #456990 queen blue
    #f45b69 fiery rose
*/

/* Global Styles */
body {
    font-family: 'Rubik', sans-serif;
	margin: 0;
}

header h1 {
    font-family: 'Frijole', cursive;
}

header, footer {
    text-align: center;
    background-color: #e4fde1;
}

header li, footer a {
    margin: 10px;
    display: inline-block;
}

footer {
	padding: 10px;
	color: black;
}

header {
	margin: 0 auto; /*0 for top and bottom and auto for left and right*/
	overflow: auto;
}

/* Class Styles */
.language {
    width: 10%;
    float: left;
    min-height: 150px;
    min-width: 150px;
}

.content-wrap {
    max-width: 800px; /*so that the content will automatically adjust to smaller screens*/
    margin: 0 auto; /*0 for top and bottom and auto for left and right*/
    padding: 10px; /*pushes content in*/
    overflow: auto; /*so color spans the image*/
}

.col-narrow {
    width: 35%;
    float: left;
    min-height: 175px;
}

.col-wide {
    width: 62%;
    float: left;
    min-height: 175px;
}

.project-link {
	display: block;
	margin: 10px;
}	

.page-nav li {
	list-style-type: none;
}

.page-nav {
	padding: 10px;
}

/* id styles */
#summary {
    background-color: #114b5f;
	color: #f2f2f2;
}

#summary h1 {
    font-size: 2.2em
}

#language-section {
    background-color: #028090;
}

#language-section img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#work {
    background-color: #456990;
}

#projects-section {
    background-color: #f45b69
}

